# ----- team2 python modules ----- #

# this text is written in utf-8
# but in windows, default encoding is shift-jis (in japan)
# so we must use ASCII chars to write this

# how to use?
#   pip install -r requirements.txt

# how to write this?
#   [module-name] == [version]         : must to use [version]
#   [module-name] >= [version]         : use [version] or lower
#   [module-name] <= [version]         : use [version] or higher
#   [module-name] != [version]         : don't use [version]
#   [module-name]                      : use latest version
# 
#   [mddule-name] >= [ver1], <= [ver2] : use AND for condition

###### on RaspberryPi ######
nfcpy >= 1.0.3           # cardreader
PyQt5 >= 5.15.4          # GUI
python-dateutil >= 2.8.1 # convert string => datetime
pycryptodome >= 3.10.1   # crypto
