/* for app's background-color */
body {
  background-color:lightgray;
}

/* for button */
/* common buttons */
.button {
  background: rgba(160, 160, 160, 0.5);
  border: 0;
  border-radius: 4px;
  width: max-content;
  height: auto;
  position: relative;
  display: block;
  margin: 0 auto;
  font-size: larger;
  color: black;
  text-align: center;
}

/* for login button *//*
.startbutton{
  font-size: x-large;
}*/

/* for buttonarea (not so good) */
.buttonarea {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

/* for help button */
button.help {
  margin-right: 0;
}


/* for menu page's button */
.menu {
  position: relative;
}

/* for maintitle */
.MainTitle {
  color: rgba(14, 30, 34, 0.8);
  text-align: center;
  text-shadow:
  -1px -1px 0 rgba(241, 225, 221, 0.8),
  -1px -1px 0 rgba(241, 225, 221, 0.8),
  -1px -1px 0 rgba(241, 225, 221, 0.8),
  -1px -1px 0 rgba(241, 225, 221, 0.8);
}

/* for h1 maintitle (index.html) */
h1.MainTitle {
  font-size: xx-large;
}

/* for h2 maintitle (その他) */
h2.MainTitle {
  font-size: x-large;
}

/* for hr line */
.line {
  border: 0;
  background-color: #09f;
  background-image: -webkit-linear-gradient(left,#fff,#09f,#FFF);
  height: 2px;
}

/* for index.html start */
div.start {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}

/* for table */
table {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* for canvas */
div#canvas {
	width:640px; /* もうちょい良い方法ないっすか？ */
	margin:0 auto;
}

/* for form */
form {
  margin: 0 auto;
  width: max-content;
}

/* for form > input */
form > label {
  position: relative;
}

/* for form > input */
form > input {
  position: relative;
}

/* for form .timesetting */
form.timesetting {
  height: auto;
}